@page "/"

<div class="container text-center">
    <AuthorizeView>
        <NotAuthorized>
            <h1>Hello, stranger!</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Hello, buddy!</h1>
        </Authorized>
    </AuthorizeView>

    Welcome to the most liiiiiiiiiiit page you have ever seen!
</div>

@code { 
    private IList<string> _posts;

    protected override Task OnInitializedAsync()
    {
        //TODO get posts
        return base.OnInitializedAsync();
    }
}