@page "/"
@inject Data.OracleDbContext Context
@inject SessionStorageService Session
@inject NavigationManager Navigation
@inject AuthService Auth

<AuthorizeView>
    <NotAuthorized>
        @if (true) {
            Navigation.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>

<div class="container text-center m-3 align-self-center">
    <h1>Hello, buddy!</h1>
    Welcome to the most liiiiiiiiiiit page you have ever seen!
</div>

@if (_posts != null && _posts.Count != 0) {
    @foreach (var post in _posts) {
        <PostCard Post=post User=_user ShowComments=false HandleDeletePost="@(async () => await HandleDeletePost(post))"/>
    }
} else {
    <div class="container text-center m-3 align-self-center">
        <p>None of your followers have posts.</p>
    </div>
}

@code {
    private UserInfo _user;
    private IList<Post> _posts;

    protected override async Task OnInitializedAsync()
    {
        _user = await Auth.GetCurrentUser();

        var userInfo = await Auth.GetCurrentUser();
        _posts = await Context.GetAllFollowersPostsAsync(userInfo.Id, (int)userInfo.Role);
    }

    private async Task HandleDeletePost(Post post)
    {
        if (await Context.DeletePostAsync(post.PostId)) {
            _posts.Remove(post);
            StateHasChanged();
        }
    }
}