@inject AuthService Auth
@inject NavigationManager Navigation
@inject IToastService Toast
@inject Data.OracleDbContext Context

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="">Travellers</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login">
                                <i class="fas fa-sign-in-alt fa-sm"></i> Log In
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="register">
                                <i class="fas fa-clipboard-list fa-sm"></i> Register
                            </NavLink>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <i class="fas fa-home fa-sm"></i> Home
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="find" Match="NavLinkMatch.All">
                                <i class="fas fa-search"></i> Find User
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="profil">
                                <i class="fas fa-user-circle"></i> Profil
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="postform">
                                <i class="fas fa-plus"></i> Create post
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="stats">
                                <i class="fas fa-chart-line"></i> Stats
                            </NavLink>
                        </li>
                        @if (_user != null && _user.Role == Role.MainAdmin) {
                            <li class="nav-item">
                                <span class="nav-link clickable" @onclick="HandleGenerateReport">
                                    <i class="fas fa-chart-bar"></i> Generate report
                                </span>
                            </li>
                        }
                        <li class="nav-item">
                            <NavLink class="nav-link fa-sm" href="#" @onclick="HandleLogout">
                                <i class="fas fa-door-open fa-sm"></i> Log Out
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";
    private string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    private UserInfo _user;
    private string _nickname = "";

    protected override async Task OnInitializedAsync()
    {
        _user = await Auth.GetCurrentUser();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await Auth.LogoutCurrentUser();
        Navigation.NavigateTo("/", true);
    }

    private async Task HandleGenerateReport()
    {
        if (await Context.GenerateReportAsync()) {
            Toast.ShowSuccess("Report successfully generated.");
        }
    }
}